form {
    display: flex;
    flex-direction: column;
    width: 100%;
    & > * {
        margin-bottom: 20px;
    }
    
    #taskDate, #taskName, .addBtn {
        display: block;
        padding: 10px;
        border-radius: 4px;
        width: 100%;
    }

    .addBtn {
        background-color: var(--bs-blue);
        color: white;
        border: none;
        cursor: pointer;
    }

   & .success{
    color: var(--bs-green);
    display: none;
    font-weight: 600;
    font-size: 0.75rem;

    &.show {
        display: block;
    }
   }
}